
/* Colors 
Orange: 
#F97300
White Cream:
#f4f4f4
Dark Grey:
#4F4F4F

*/


@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

html,h1,h2,h3,h4,h5,h6,a,p,input,figcaption,footer{
 font-family: "Raleway";
}
section {
  min-height: 78%;
  padding: 0 0 0px 0;
  height: 100%;
  overflow: hidden;
}
section h1{
	margin: 2em;
}
footer {
	min-height: 0%;
	padding: 0 0 0 0;
}


/* Navbar */
.navbar{
 background:#4F4F4F;
}
.nav-link, .navbar-brand{
 color: #f4f4f4;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #f4f4f4;
 color: #FFB900;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}

/* Header */
.header{
 background-image: url(../images/headerback.JPG);
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}
.header span{
	color: #33659D; 
	font-weight: bold;
}
.header button{
	border-radius: 0;
}
.overlay{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(244, 244, 244, 0.70);
}

/* Description */
.description{
    position: relative;
    /*top: 30%;*/
    padding-top: 25%;
    margin: auto;
}
.description h1{
 color:#4F4F4F;
 font-size: 45px;
 font-family: 'Permanent Marker', cursive;
}
.description h3{
 color:#666;
 font-size: 25px;
 width: 75%;
 margin: 0 auto;
 line-height: 1.5;
}
.description button{
 border:1px  solid #4F4F4F;
 background:#4F4F4F;
 color:#fff;
 font-size: 25px;
}

@media screen and (max-width: 600px) {
.description h1{
 color:#4F4F4F;
 font-size: 30px;
 font-family: 'Permanent Marker', cursive;
}
.description h3{
 color:#666;
 font-size: 20px;
 width:100%;
 margin: 0 auto;
 line-height: 1.5;
 padding: 2px 15px 15px 15px;
}
.description button{
 border:1px  solid #4F4F4F;
 background:#4F4F4F;
 color:#fff;
 font-size: 20px;
}
}



/* About Me */
.about{
 margin: 4em 0;
 padding: 1em;
 position: relative;

}
.about h1{
 color:#4F4F4F;
 margin: 2em;
}
.about img{
 /*height: 100%;
 width: 100%;*/
 border-radius: 0;
 position: absolute;
 padding-top: 10px;
}
.about span{
 display: block;
 color: #888;
 position: absolute;
 left: 115px;
}
.about .desc{
 padding: 2em;
 border-left:4px solid #10828C;
}
.about .desc h3{
 color: #10828C;

}
.about .desc p{
 line-height:2;
 color:#888;

}
.about #about-text{
 padding: 0px 70px 50px;

}

/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 100px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    /*border-radius: 50%;*/

}
/* Add a hover effect */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Github */
.fa-github {
    background: #333;
    color: white;
}

/* LinkedIn */
.fa-linkedin {
    background: #0077B5;
    color: white;
}

/*Portfolio*/
.portfolio{
 margin: 4em 0;
 position: relative;	
}
.portfolio h1{
 color:#4F4F4F;
 margin: 2em;	
}
.portfolio img{
 width: 100%;
 margin: 1em;
}
.portfolio p{
 text-align: center;
}

/*My Work*/

.my_work{
	margin: 4em 0;
	position: relative;	
}
.my_work h1{
	color:#4F4F4F;
	margin: 2em;	
}
.my_work .card{
	box-shadow: 0 0 20px #ccc;
}
.my_work .card img{
	width: 100%;
	height: 100%;
}
.my_work .card 
@media and (max-width: 768px){
 .team .item img{
 	width: 100%;
 }	
}
.my_work .card-title{
	color:#4F4F4F;
}
.my_work .card-body{
	padding: 1em;
}


/* Contact Form */
.contact-form{
	margin: 6em 0;
	position: relative;		
}

.contact-form h1{
	padding:2em 1px;
	color: ##4F4F4F; 
}
.contact-form .right{
	max-width: 600px;
}
.contact-form .right .btn-secondary{
	background:  ##4F4F4F;
	color: #fff;
	border:0;
}
.contact-form .right .form-control::placeholder{
	color: #888;
	font-size: 16px;
}

#spotify {
	text-align: center;
}

